<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../Imagenes/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../style.css"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='static/style.css') }}"> -->
    <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}"> -->
    <link rel="stylesheet" href='../static/styles/style.css' />
    <title>Conversor de Divisas</title>
</head>
<body>
    <div class="MainContainer">
        <div class="RadioContainer">
            <div class="RadioClass">
                <div class="Radios" id="ff1" onmouseover="Titulos()">
                    <label class="labels" id="ff2" title="" onmouseover="Titulos()">
                        <input type="radio" class="radio" name="radios" id="ff" value="Fast Forex" checked="checked" onclick="SetTitle()" title="" onmouseover="Titulos()" />Fast Forex
                    </label>
                </div>
                <div class="Radios" id="ca11" onmouseover="Titulos()">
                    <label class="labels" id="ca12" onmouseover="Titulos()">
                        <input type="radio" class="radio" name="radios" id="ca1" value="Currency API" onclick="SetTitle()" onmouseover="Titulos()" />                        
                        Currency API
                    </label>
                </div>
                <div class="Radios" id="ca21" onmouseover="Titulos()">
                    <label class="labels" id="ca22" onmouseover="Titulos()">
                        <input type="radio" class="radio" name="radios" id="ca2" value="Currency API-2" onclick="SetTitle()" onmouseover="Titulos()" />                        
                        Currency API-2
                    </label>
                </div>
                <div class="Radios" id="av1" onmouseover="Titulos()">
                    <label class="labels" id="av2" onmouseover="Titulos()">
                        <input type="radio" class="radio" name="radios" id="av" value="API Verve" onclick="SetTitle()" onmouseover="Titulos()" />                        
                        API Verve
                    </label>
                </div>
            </div>
        </div>
        <div class="InputContainer2">
            <div class="ApiClass">
                <div class="Inputs2" id="Label">
                    <p class="P2" id="Etiqueta">Fast Forex</p>
                </div>
                <div class="Inputs2" id="Api">
                    <p class="P1">Ingrese API KEY: </p>
                    <div class="tooltip">
                        <input type="text" name="api" id="DivAkey" class="text2" onmouseover="Titulos()" />
                        <span class="tooltiptext">Ingrese la API-KEY del servicio a utilizar!</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="InputContainer">
            <div class="InputsClass">
                <div class="Inputs">
                    <p class="P">Ingrese Divisa Base: </p>
                    <div class="tooltip">
                        <input type="text" name="divBase" id="DivBase" maxlength="3" class="text" oninput="SetFocus()" title="" onmouseover="Titulos()">
                        <span class="tooltiptext">Ingrese la Divisa Base que desea Convertir!</span>
                    </div>
                </div>
                <div class="Inputs">
                    <p class="P">Ingrese Divisa a Convertir: </p>
                    <div class="tooltip">
                        <input type="text" name="divConv" id="DivConv" maxlength="3" class="text" oninput="SetFocus()" title="" onmouseover="Titulos()">
                        <span class="tooltiptext">Ingrese la Divisa a Convertir!</span>
                    </div>
                </div>
                <div class="Inputs">
                    <p class="P">Ingrese Cantidad: </p>
                    <div class="tooltip">
                        <input type="number" name="divCant" id="DivCant" pattern="/^-?\d+\.?\d*$/" class="text3" onKeyPress="if(this.value.length==7) return false;" onfocus="Mayus()" title="" onmouseover="Titulos()">
                        <span class="tooltiptext">Ingrese la Cantidad a Convertir!</span>
                    </div>
                </div>
                <div class="Inputs">
                    <p class="P">Resultado: </p>
                    <div class="tooltip">
                        <input type="text" id="DivRes" class="text" value="" readonly="true">
                        <span class="tooltiptext">Resultado!!!</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ButtonContainer">
            <div class="BotonClass">
                <div class="botones0">
                    <div class="btnvacio">
                        <!-- <span>Convertir</span> -->
                    </div>
                </div>
                <div class="botones1">
                    <!-- <form method="POST"> -->
                    <button class="Convertir" onclick="FastForexFetch()">
                        <span>Convertir</span>
                        <!-- <input type="submit"> -->
                    </button>

                    <!-- </form> -->
                </div>
                <div class="botones1">
                    <button class="Limpiar" onclick="Limpiar()">
                        <span>Limpiar</span>
                    </button>
                </div>
                <!-- <div class="botones0">
                    <div class="btnvacio">
                        <span>Convertir</span>
                    </div>
                </div> -->
                <div class="botones1">

                    <!-- <form action="{{ url_for('index') }}" method="post"> -->
                    <!-- <form action="" method="post"> -->
                    <button class="Limpiar" type="submit" value="submit" onclick="Mayus()">
                        <span>Submit</span>
                    </button>
                    <!-- <input type="submit" value="submit"> -->
                    <!-- </form> -->
                </div>
                <div class="botones0">
                    <div class="btnvacio">
                        <!-- <span>Convertir</span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- <script>
            const inputField = document.getElementById("DivBase");
            inputField.addEventListener("keyup", function(event) {
                event.preventDefault();
                inputField.value = inputField.value.toUpperCase();
            });
        </script> -->
    <script src="../static/scripts/script.js"></script>
</body>
</html>